<div class='row'>
  <center>
    <%= form_for [:admin, @current_showplace, @screening] do |form| %>
      <%= form.label :start_date %><br>
      <%= form.date_field :start_date, require: true %>

      <%= form.label :start_time %><br>
      <%= form.time_field :start_time, require: true %>

      <%=form.label :price %><br>
      <%=form.text_field :price%>

      <%= form.label :hall_no %><br>
      <%= form.number_field :hall_no, required: true %>

      <p>
        <%= form.submit %>
      </p>
    <% end %>
  </center>
</div>

<% @screenings_hash.each do |date, screenings| %>
  <div class='row'>
    <div class="col-md-8 col-sm-8 col-xs-8 col-md-offset-2 col-xs-offset-2 col-sm-offset-2">
      <p> <%= date.strftime("%A") %>, <%= date %> </p>
      <% screenings.each do |s| %>
        <%= s.start_time.strftime('%H:%M') %>
      <% end %>
    </div>
  </div>
<% end unless @screenings_hash.nil?%>
