<p> seating page 50 </p>

<header class="header">
			<div class="codrops-links">
				<a class="codrops-icon codrops-icon--prev" href="http://tympanus.net/Development/LineMenuStyles/" title="Previous Demo"><span>Previous Demo</span></a>
				<a class="codrops-icon codrops-icon--drop" href="http://tympanus.net/codrops/?p=25885" title="Back to the article"><span>Back to the Codrops article</span></a>
			</div>
			<h1 class="header__title">Cinema Seat Preview</h1>
			<p class="note note--screen">Please view on a larger screen</p>
			<p class="note note--support">Sorry, but your browser doesn't support preserve-3d!</p>
		</header>
		<div class="container">
			<div class="cube">
				<div class="cube__side cube__side--front"></div>
				<div class="cube__side cube__side--back">
					<div class="screen">
						<div class="video">
                <%= video_tag "F8-trailer.mp4", class: "video-player", poster: "fast8-poster.jpg", preload: "auto"%>
								<p>Sorry, but your browser does not support this video format.</p>
							</video>
							<button class="action action--play action--shown" aria-label="Play Video"></button>
						</div>
						<div class="intro intro--shown">
							<div class="intro__side">
								<h2 class="intro__title">
									<span class="intro__up">The Open Cinema <em>presents</em></span>
									<span class="intro__down">Fast & Furious 8 <span class="intro__partial"><em>by</em> <a href="https://durian.blender.org/">KIV Movie Experience</a></span></span>
								</h2>
							</div>
							<div class="intro__side">
								<button class="action action--seats">Select your seats</button>
							</div>
						</div>
					</div>
				</div>
				<div class="cube__side cube__side--left"></div>
				<div class="cube__side cube__side--right"></div>
				<div class="cube__side cube__side--top"></div>
				<div class="rows rows--large">
					<% @seats_hash.each do |row, seats|%>
						<div class='row'>
							<% seats.each do |seat|%>
								<div data-seat="<%="#{row}#{seat.seat_number}"%>" class="row__seat"></div>
							<% end %>
						</div>
					<% end %>
				</div>
				<!-- /rows -->
			</div><!-- /cube -->
		</div><!-- /container -->
		<div class="plan">
			<h3 class="plan__title">SCREEN</h3>
				<%= form_for [@screening, @booking] do |form| %>
					<%= hidden_field_tag :selected_seats%>
					<div class="rows rows--mini">
						<% @seats_hash.each do |row, seats|%>
							<div class='row'>
								<% seats.each do |seat|%>
									<% if seat.booking_status == true%>
										<div class="row__seat row__seat--reserved"></div>
									<% else %>
										<div data-tooltip="<%="#{row}#{seat.seat_number}"%>" class="row__seat tooltip" id="<%=seat.id%>"></div>
									<% end %>
								<% end %>
							</div>
						<% end %>

					</div>
					<!-- /rows -->
					<ul class="legend">
						<li class="legend__item legend__item--free">Free</li>
						<li class="legend__item legend__item--reserved">Reserved</li>
						<li class="legend__item legend__item--selected">Selected</li>
					</ul>
					<%= form.submit "Buy tickets", class: "action action--buy", id: "submit-booking" %>
				<% end %>
		</div><!-- /plan -->
		<button class="action action--lookaround action--disabled" arial-label="Unlook View"></button>
