<%= form_for @movie do |f| %>

<p>
  <%= f.label :title %><br>
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :description %><br>
  <%= f.text_area :description %>
</p>

<p>
  <%= f.label :genre %><br>
  <%= f.text_field :genre %>
</p>

<p>
  <%= f.label :trailer_url %><br>
  <%= f.text_area :trailer_url %>
</p>

<p>
  <%= f.label :cast %><br>
  <%= f.text_area :cast %>
</p>

<p>
  <%= f.label :rating %><br>
  <%= f.text_area :rating %>
</p>

<p>
  <%= f.label :duration %><br>
  <%= f.number_field :duration %>
</p>

<p>
  <%= f.label :release_date%><br>
  <%= f.date_field :release_date %>
</p>

<%= f.file_field :photos, multiple: true %>

<p>
  <%= f.submit "submit movie"%>
</p>

<% end %>