<p>
  <%= form.label :title %><br>
  <%= form.text_field :title %>
</p>

<p>
  <%= form.label :description %><br>
  <%= form.text_area :description %>
</p>

<p>
  <%= form.label :genre %><br>
  <%= form.text_area :genre %>
</p>

<p>
  <%= form.label :trailer_url %><br>
  <%= form.text_area :trailer_url %>
</p>

<p>
  <%= form.label :cast %><br>
  <%= form.text_area :cast %>
</p>

<p>
  <%= form.label :rating %><br>
  <%= form.text_area :rating %>
</p>

<p>
  <%= form.label :duration %><br>
  <%= form.text_area :duration %>
</p>

<%= form.file_field :photos, multiple: true %>

<p>
  <%= form.submit %>
</p>
