
<h3>Movies</h3>

<ul class="list-group">
  <li class="list-group-item">
    <p>Movie name: <%= @movie.title%></p>
    <p>Description: <%= @movie.description%> </p>
    <p>Genre: <%= @movie.genre %> </p>
    <p>Trailer: <%= @movie.trailer_url %></p>
    <p>Cast: <%= @movie.cast %> </p>
    <p>Ratings: <%= @movie.rating %> </p>
    <p>Duration: <%= @movie.duration %></p>

  </li>
</ul>


<%= link_to 'Edit', edit_admin_movie_path(@movie) %>
<%= link_to 'Back', root_path %>
