
<h3>Movies</h3>

<ul class="list-group">
  <li class="list-group-item">
    <p>Movie name: <%= @movie.title%></p>
    <p>Description: <%= @movie.description%> </p>
    <p>Genre: <%= @movie.genre %> </p>
    <p>Trailer: <%= @movie.trailer_url %></p>
    <p>Cast: <%= @movie.cast %> </p>
    <p>Ratings: <%= @movie.rating %> </p>
    <p>Duration: <%= @movie.duration %></p>
    <p>release date: <%= @movie.release_date %></p>


  </li>
</ul>

<div class='col-md-8 col-sm-12 col-xs-12 col-md-offset-2'>
  <center>
      <iframe id="player" type="text/html" width="640" height="390"  allowfullscreen="allowfullscreen" src="http://www.youtube.com/embed/<%=@movie.trailer_url%>" frameborder="0"></iframe>
  </center>
</div>

<div class='col-md-8 col-sm-8 col-xs-8 col-md-offset-2 col-xs-offset-2 col-sm-offset-2'>
  <% @screenings.each do |showplace_id, screenings| %>
    <p> <%= Showplace.find(showplace_id).cinema.cinema_name%> </p>
    <% screenings.group_by(&:start_date).each do |date, x| %>
      <p><%= date.strftime("%A")%></p>
      <% x.each do |z| %>
        <%=link_to "#{z.start_time.strftime('%H:%M')}", book_seats_path(z.id) %>
      <% end %>
    <% end %>
  <% end %>
</div>


<%= link_to 'Edit', edit_admin_movie_path(@movie) %>
<%= link_to 'Back', root_path %>
