<div class="container">
  <div class="jumbotron">
    <center>
      <iframe id="player" type="text/html" width="640" height="390"  allowfullscreen="allowfullscreen" src="http://www.youtube.com/embed/<%=@movie.trailer_url%>" frameborder="0"></iframe>
  </center>     

             
                <div class="jumbotron">
                  <div class="row">
                      <div class="col-md-4">
                        <%= image_tag @movie.photos.first.url, alt: "stack photo", class: "img" %>
                      </div>
                      <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
                          <div class="container" style="border-bottom:1px solid black">
                            <h2><%= @movie.title%></h2>
                          </div>
                            <hr>
                         <ul class="container details">
                            <li>Description: <%= @movie.description%></li>
                            <li>Genre: <%= @movie.genre %> </li>
                            <li>Trailer: <%= @movie.trailer_url %></li>
                            <li>Cast: <%= @movie.cast %> </li>
                            <li>Ratings: <%= @movie.rating %> </li>
                            <li>Duration: <%= @movie.duration %></li>
                            <li>Release date: <%= @movie.release_date %></li>
                          </ul>
                      </div>
                  </div>
                </div>

<div class='col-md-8 col-sm-8 col-xs-8 col-md-offset-2 col-xs-offset-2 col-sm-offset-2'>
  <% @screenings.each do |showplace_id, screenings| %>
    <p> <%= Showplace.find(showplace_id).cinema.cinema_name%> </p>
    <% screenings.group_by(&:start_date).each do |date, x| %>
      <p><%= date.strftime("%A")%></p>
      <% x.each do |z| %>
        <%=link_to "#{z.start_time.strftime('%H:%M')}", book_seats_path(z.id) %>
      <% end %>
    <% end %>
  <% end %>
</div>


<%= link_to 'Edit', edit_admin_movie_path(@movie) %>
<%= link_to 'Back', root_path %>
