<center>
  <h3> CHECKOUT </h3>
    <div>
      <p><%= @booking.screening.showplace.movie.title %></p>
      <p><%= @booking.screening.showplace.cinema.cinema_name %></p>
    </div>
</center>

<ul class="list-group">
  <li class="list-group-item">
    <center>
  <p> Your Booking Id <%=@booking.id%>
  <p> Seats : </p>
  <% @seat_bookings.each do |seat_booking| %>
    <%= seat_booking.seat.row_number%>-<%= seat_booking.seat.seat_number%>
  <% end %>
</center>

<center>
  <p> Total Tickets Price: </p>
  <p>RM <%= @booking.total_price %></p>
</center>
  </li>
</ul>

<%= link_to "Payment", braintree_pay_path(@booking) %>