<div class='col-md-8 col-sm-12 col-xs-12 col-md-offset-2' id="booking-container">
    <div class='row' id='booking-title'>
      <p id='booking-movie-title'><%= @booking.screening.showplace.movie.title %></p>
    </div>

      <div class='col-md-4 col-sm-4 col-xs-4'>
          <p><%= image_tag @booking.screening.showplace.movie.photos.first.thumb, alt: 'stack photo' %></p>
      </div>

      <div class='col-md-8 col-sm-8 col-xs-8'>
          <div id='booking-cinema'>
            <p class='booking-details'>
              <%= @booking.screening.showplace.cinema.cinema_name %>
            </p>
            <p> <%=@booking.screening.showplace.cinema.address%></p>
          </div>
          <div id='booking-seat'>
            <p class='booking-details'> Seats :</p>
            <p>
            <% @seat_bookings.each do |seat_booking| %>
              <%= seat_booking.seat.row_number%>-<%= seat_booking.seat.seat_number%>
            <% end %>
            </p>
          </div>
          <div id='booking-seat'>
            <p class='booking-details'> Total Tickets Price: </p>
            <p>RM <%= @booking.total_price %></p>
          </div>
      </div>
    <%= button_to "Make Payment", braintree_pay_path(@booking), method: :get, class: "btn btn-success" %>

</div>
