<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>


    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
      	<%= image_tag 'fast8.jpg', alt: "Image" %>
<!--         <img src="/	images/fast8.jpg" alt="Image">
 -->        <div class="carousel-caption">
          <h3>Sell $</h3>
          <p>Money Money.</p>
        </div>
      </div>

      <div class="item">
      	<%= image_tag "hq720.jpg" %>
        <div class="carousel-caption">
          <h3>More Sell $</h3>
          <p>Lorem ipsum...</p>
        </div>
      </div>

      <div class="item">
        <%= image_tag "ghostinashell2.jpg" %>
        <div class="carousel-caption">
          <h3>More Sell $</h3>
          <p>Lorem ipsum...</p>
        </div>
      </div>

      <div class="item">
        <%= image_tag "Get-Out-movie-song.jpg" %>
        <div class="carousel-caption">
          <h3>More Sell $</h3>
          <p>Lorem ipsum...</p>
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>

<div align="center">
<%= form_tag search_path, method: :get do %>
  <%= select_tag :movies, options_for_select(["Guardian of Galaxy 2", "Examples", "yas"]), include_blank: "Movies", class:"drop"%>
  <%= select_tag :cinema, options_for_select(["TGV", "GSC", "MBO"]), include_blank: "Cinemas", class:"drop 	" %>
  <%= submit_tag "Search", :class => "btn btn-primary" %>
<% end %>
</div>


<div class="container text-center">
  <h3>Now Showing</h3><br>
  <div class="row">
    <div class="col-sm-3">
      <%= image_tag 'fast82.jpg', alt: "Image", :class => "style_image"%>
      <p>Fast 8</p>
    </div>
    <div class="col-sm-3">
      <%= image_tag 'ghostinashell.jpg', alt: "Image", :class => "style_image"%>
      <p>Ghost In a Shell</p>
    </div>
    <div class="col-sm-3">
      <%= image_tag 'life.jpg', alt: "Image", :class => "style_image"%>
      <p>Life </p>
    </div>
    <div class="col-sm-3">
      <%= image_tag 'beautyandthebeast.jpg', alt: "Image", :class => "style_image"%>
      <p>Beauty and The Beast</p>
    </div>
  </div>
</div><br>




<div class="container text-center">
  <h3>Coming Soon</h3><br>
  <div class="row">
    <div class="col-sm-3">
      <a href="page-link">
        <%= image_tag 'guardiansmovieposter', alt: "Image", :class => "style_image"%>
      </a>
      <p>Guardians of the Galaxy Vol 2</p>
    </div>
    <div class="col-sm-3">
    <%= image_tag 'get_out.jpg', alt: "Image", :class => "style_image"%>
      <p>Get Out</p>
    </div>
    <div class="col-sm-3">
      <%= image_tag 'keep_watching.jpg', alt: "Image", :class => "style_image"%>
      <p>Keep Watching</p>
    </div>
    <div class="col-sm-3">
      <%= image_tag 'Gifted-movie-poster.jpg', alt: "Image", :class => "style_image"%>
      <p>Gifted</p>
    </div>
  </div>
</div><br>
