
<div class="container-fluid theatre-container">
  <div class="container container-pad" id="property-listings">
  <!-- please change the first two lines ADRIAN -->
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">
          Theatres
        </h1>
      </div>
    </div>
  </div>
</div>

<% @cinemas.each do |cinema| %>
    <div class="container-fluid theatre-container" style="background-color:#e8e8e8">
     <div class="container container-pad" id="property-listings">
       <div class='cinema-index-name-container'>
         <center>
             <h4 class="media-heading cinema-index-name-container ">
               <%= link_to "#{cinema.cinema_name}", cinema_path(cinema)%>
             </h4>
        </center>
       </div>
          <div class="row">
            <div class="col-sm-4">
              <!-- Begin Listing: 609 W GRAVERS LN-->
              <div class="brdr bgc-fff pad-10 box-shad btm-mrg-20 property-listing">
                <div class="media">
                 <%= image_tag cinema.photos.first.url, alt: "stack photo", class: "img" %>
                </div>
              </div>
            </div>

            <div class="col-sm-8">
              <div class="media-body fnt-smaller">
                <p class="hidden-xs">Address: <%= cinema.address %></p>
                <p class='now-showing-movies'> Now Showing Movies </p>
                <p>
                  <% cinema.movies[0..2].each do |movie|%>
                    <%= image_tag movie.photos.first.thumb, class: "cinema-show-movie-pic"%>
                <% end %>
                <% if current_user.role.name == "Admin"%>
                  <%= link_to 'Edit', edit_admin_cinema_path(cinema), class: 'btn btn-mini btn-success' %>
                  <%= link_to 'Destroy', admin_cinema_path(cinema), method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' } %>
                <% end %>
                </p>

              </div>
            </div>
          </div>
      </div>
    </div>
<%end%>

<!-- End Listing-->

<% if current_user.role.name == "Admin" %>
    <%= link_to 'New cinema', new_admin_cinema_path %>
    <%= link_to 'Back', root_path %>
<% end %>
