<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="text-center">
      All Cinemas
    </h1>


<div class="media">
  <div class="media-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>cinema name</th>
          <th>contact</th>
          <th>address</th>
          <th>state</th>
          <th>comapany</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

     <tbody>
        <% @cinemas.each do |cinema| %>
          <tr>
            <!-- image_tag avatar.image.url              -->
            <td><%= cinema.cinema_name %></td>
            <td><%= cinema.contact %></td>
            <td><%= cinema.address %></td>

            <td><%= link_to 'Show', "/cinemas/#{cinema.id}", class: 'btn btn-mini' %></td>
            <td><%= link_to 'Edit', edit_admin_cinema_path(cinema), class: 'btn btn-mini btn-success' %></td>
            <td><%= link_to 'Destroy', admin_cinema_path(cinema), method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' } %></td>

          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>



<%= link_to 'New listing', new_admin_cinema_path %>
<%= link_to 'Back', root_path %>
