<!-- PICTURE HERE -->

<h3>Cinemas</h3>

<ul class="list-group">
  <li class="list-group-item">
    <p>Cinema: <%= @cinema.cinema_name%></p>
    <p>Contact: <%= @cinema.contact%> </p>
    <p>Address: <%= @cinema.address %> </p>
    <p>State: <%= @cinema.state %></p>
    <p>Company: <%= @cinema.company %> </p>
    
  </li>
</ul>


 <%= link_to 'Edit', edit_admin_cinema_path(@cinema) %>
 <%= link_to 'Back', root_path %>
