<!DOCTYPE html>
<html>
  <head>
    <title>KIV</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="js/jquery.js"></script>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'film.ico' %>
    <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= image_tag 'film.png', class:"logo" %>

        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">

            <li><a href="#">Home</a></li>
            <li><a href="#">Now Showing</a></li>
            <li><a href="#">Coming Soon</a></li>

            <li><a href="/">Home</a></li>
            <li><%= link_to "Now Showing", showing_now_path %>
            <li><%= link_to "Coming Soon", coming_soon_path %>


          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              Signed in as <%= current_user.email %>. Not you?
              <li><%= link_to "Edit profile", edit_user_registration_path %></li>
              <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
            <% else %>
              <li><%= link_to "Sign up", new_user_registration_path %></li>
              <li><%= link_to "Login", new_user_session_path %></li>
            <% end %>

            <% flash.each do |name, msg| %>
              <%= content_tag :div, msg, id: "flash_#{name}" %>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <% if user_signed_in? %>
       Signed in as <%= current_user.email %>. Not you?
       <%= link_to "Edit profile", edit_user_registration_path %>
       <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    <% else %>
       <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
       <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
    <% end %>

    <%= yield %>

    <footer class="container-fluid text-center">
      <p>Footer Text</p>
    </footer>





  </body>
</html>
